logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/.history
/.cache
/build
functions/build/
.env.local
.supabase.local.env
.env
.env.*
!.env.example
!.env.production
.dev.vars
百炼配置.txt
数据库私密配置.txt
*.vars
.wrangler
_worker.bundle

Modelfile
modelfiles

# docs ignore
site

# commit file ignore
app/commit.json
changelogUI.md
docs/instructions/Roadmap.md
.cursorrules
*.md
!JINGYUE.md
!deployment/README.md
!deployment/PROJECTS.md
!deployment/ACCOUNTS.md
!third-party/onlook/LICENSE.md
!third-party/onlook/NOTICE.md
.qodo
